fastapi>=0.115.0
uvicorn
motor==3.7.1
beanie==2.0.1
pydantic==2.12.5
pydantic-settings==2.10.1
fastapi-mail
python-dotenv
passlib
bcrypt==4.0.1
python-jose
python-multipart
gradio 
pydantic[email]
